// Color Variables
$color-caribbean: #006d77ff;
$color-tiffany: #83c5beff;
$color-alice: #edf6f9ff;
$color-pale-dogwood: #ffddd2ff;
$color-atomic-tangerine: #e29578ff;
$color-greenery: #04724d;
$color-wary-orange: #ff9505;
$color-bad-orange: #ec4e20;
$color-york-yellow: #ffb13c;
$color-york-yellow-darken: #de9a33;
$color-rufous: #a72608;
$color-faded-text: rgb(171, 171, 171);
$color-darker-black: rgb(27, 27, 27);
$color-brand-red: #F74E4E;

// Background Variables
$bg-navbar: #141414;
$bg-modal: rgb(245, 245, 245);
$bg-sidebar-active: #3b8df862;
$bg-sidebar-hover: #ededed;
$bg-sidebar: rgb(235, 235, 235);
$bg-input: #f8f8f8;

// Size Variables
$size-title: 60px;
$size-default-text: 16px;
$size-button: 16px;

// Text Variables
$text-dark-grey: #171717;
$text-flat-black: #383838;
$text-flat-grey: #353531;
$text-light-grey: rgb(236, 236, 236);
$text-lighter-grey: rgb(234, 234, 234);
$text-light-light-grey: #737373;
$text-border-grey: #d6d6d6;
$text-white: white;
$text-heading-size: 30px;
$text-small-size: 12px;
$text-body-size: 16px;



// Other Variables
$border-edge: rgb(156, 156, 156);
$button-bg: hsl(214, 93%, 60%);
$button-bg-hover: hsl(214, 93%, 50%);
$button-border-rad: 50px;
